<div *ngIf="author" class="author">
  <h1>{{author.name}}</h1>
  <div>{{author.descr}}</div>


  <div class="sequence" *ngFor="let sequence of author.sequences">
    <a class="sequenceName"> {{sequence.name}}</a>
    <a routerLink="/authors/{{author.id}}/book/{{bookSequence.book.id}}"
      class="book" [class.selected]="bookSequence.book == selectedBook"
       *ngFor="let bookSequence of sequence.bookSequences"
       (click)="onSelect(bookSequence.book)">
      {{bookSequence.seqOrder}}. {{bookSequence.book.title}}</a>
  </div>
  <div class="sequence">
    <a class="sequenceName">Книги вне серий</a>
    <a routerLink="/authors/{{author.id}}/{{authorBook.book.id}}"
      class="book" [class.selected]="authorBook.book == selectedBook"
       *ngFor="let authorBook of author.booksNoSequence"
       (click)="onSelect(authorBook.book)">{{authorBook.book.title}} </a>
  </div>

  <app-book *ngIf="selectedBook" [book]="selectedBook"></app-book>
</div>
